{% extends "base.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
    {% if error %}
        <p id="strong"><strong >Error</strong> : {{error}}</p>
    {% endif %}
<form action="/" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text" >
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" >
    </div>

    <button class="btn btn-danger mx-3 " type="submit">Login</button>
    <h2>OR</h2>
</form>
<form action="/register" method="get">

    <button class="btn btn-danger " href="/register" id="btn" type="submit">Register</button>
</form>
{% endblock %}